fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
legend {
  padding: 0;
  margin-bottom: $base--spacing;
}
// Forms
//
// Normal `<input>` with `<label>` wrapper
//
// Markup:
// <label for="input-text">Normal Input</label>
// <input name="input-text" type="text">
//
// Styleguide 2.0.0
label {
  display: block;
  width: 100%;
}
// Inline
//
// If you want the label on the left side of the `<input>`
//
// Markup:
// <label class="label--inline" for="input-inline">
//   Inline Input
//   <input name="input-inline" type="text">
// </label>
//
// Styleguide 2.2.0
.label--inline {
  display: inline;
}
// Required
//
// Adds asterisks after label. Creating a span with the words "Required" for accessibility purposes.
//
// Markup:
// <label for="input-required">Required Input <span class="span--required">(required)</span></label>
// <input required name="input-required" type="text">
//
// Styleguide 2.1.0
.span--required {
  visibility: hidden;
  &:before {
    content: "*";
    color: red;
    visibility: visible;
  }
}
// Radio
//
// add to `<label>` if `<input type="radio">`
//
// Markup:
// <label class="label--radio" for="input-radio-1">
//   <input name="radio-group" id="input-radio-1" type="radio">
//   Inline Input
// </label>
// <label class="label--radio" for="input-radio-2">
//   <input name="radio-group" id="input-radio-2" type="radio">
//   Inline Input
// </label>
//
// Styleguide 2.3.0
.label--radio {
  margin-bottom: 0;
  input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
// Checkbox
//
// Markup:
// <label class="label--checkbox" for="input-checkbox">
//   <input id="input-checkbox" type="checkbox">
//   Checkbox
// </label>
//
// Styleguide 2.4.0
.label--checkbox {
  margin-bottom: 0;
  input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
// Submit Buttons
//
// Markup:
// <input type="submit" value="Submit Input">
// <button>Submit Button</button>
//
// Styleguide 2.5.0
input[type="submit"], button {
  display: block;
  background: #033;
  color: #eee;
  border: 0;
  border-radius: 0;
  padding: 10px;
  transition: background .3s;
  &:focus, &:hover {
    background: lighten(#033, 10%);
  }
}

select {
  margin-bottom: $base--spacing;
  cursor: pointer;
  z-index: 1;
}
input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid $base--border;
  background: #fff;
  padding: 5px;
  max-width: 400px;
  border-radius: 0;
  -webkit-appearance: none;
  width: 100%;
  &:focus {
    border-color: darken($base--border, 10%);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.075),0 0 8px rgba($base--border, 0.6);
  }
  @include input-placeholder {
    color: rgba(#000, 0.5);
  }
}
textarea {
  height: 130px;
}
