.page-wrap {
  clear: both;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
//for centering something on the page.
.container {
  @extend .clearfix;
  margin-left: auto;
  margin-right: auto;
  //padding if to give breathing room to elements on smaller screens
  padding-left: $base--spacing/2;
  padding-right: $base--spacing/2;
  max-width: 978px;
  position: relative;
  &.container--no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
