@include breakpoint (550px) {
  .columns {
    float: left;
    width: 100%;
  }
  .column-3 {
    float: left;
    width: 30%;
    margin-left: 5%;
    &:first-child {
      margin-left: 0;
    }
  }
  .column-2 {
    float: left;
    width: 47.5%;
    margin-left: 5%;
    &:first-child {
      margin-left: 0;
    }
  }
}