// Wells
//
// Boxes
//
// Styleguide 4.0.0

// Well
//
// Boxes for content
//
// Markup:
// <div class="well">
//   A box with content in it.
// </div>
//
// Styleguide 4.1.0
.well {
  padding: $base--spacing / 2;
  background: #ddd;
  @include breakpoint(700px) {
    padding: $base--spacing;
  }
  margin-bottom: $base--spacing;
  > *:last-child {
    margin-bottom: 0;
  }
}
.alert {
  padding: $base--spacing/2;
  margin-bottom: $base--spacing;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
// Alerts
//
// Markup:
// <div class="alert alert-success">
//   <h3>Success</h3>
//   A box with <a href="#">content</a> in it.
// </div>
// <div class="alert alert-info">
//   <h3>Info</h3>
//   A box with <a href="#">content</a> in it.
// </div>
// <div class="alert alert-warning">
//   <h3>Warning</h3>
//   A box with <a href="#">content</a> in it.
// </div>
// <div class="alert alert-danger">
//   <h3>Danger</h3>
//   A box with <a href="#">content</a> in it.
// </div>
//
// Styleguide 4.2.0
.alert-success {
  background-color: #6fc067;
  border-color: #668c62;
  color: darken(#668c62, 20%);
}
.alert-success hr {
  border-top-color: #668c62;
}
.alert-success .alert-link {
  color: #668c62;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}
