@import "http://fonts.googleapis.com/css?family=Open+Sans";
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html, body {
  background: #fff;
  color: #555;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
body,
textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

body {
  width: 100%; }

* {
  box-sizing: border-box; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * Class-Based grid system
 *
 */
/* If you want to use in Wordpress as shortcodes, add this to functions.php (or better yet in an include for shortcodes)

//so shortcodes don't get wrapped in p tags
remove_filter( 'the_content', 'wpautop' );
add_filter( 'the_content', 'wpautop' , 12);

function supcamp_40_grid_grid( $atts, $content = '' ) {

  extract( shortcode_atts( array(
    'columns' => '2'
  ), $atts ) );

  return '<div class="grid-columns grid-columns-' . $atts['columns'] . '">' . do_shortcode( $content ) . '</div>';
}
add_shortcode( 'grid', 'supcamp_40_grid_grid' );

function supcamp_40_grid_column( $atts, $content = '' ) {

  return '<div class="grid-column">' . do_shortcode( $content ) . '</div>';
}
add_shortcode( 'column', 'supcamp_40_grid_column' );

 */
.grid-columns {
  display: flex; }
  .grid-columns .grid-column--padded {
    padding-left: 12.8px;
    padding-right: 12.8px; }
    .grid-columns .grid-column--padded:first-child {
      padding-left: 0; }
    .grid-columns .grid-column--padded:last-child {
      padding-right: 0; }

.grid-columns .grid-column-1 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-1 {
      width: 6.25%; } }

.grid-columns .grid-column-2 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-2 {
      width: 12.5%; } }

.grid-columns .grid-column-3 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-3 {
      width: 18.75%; } }

.grid-columns .grid-column-4 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-4 {
      width: 25%; } }

.grid-columns .grid-column-5 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-5 {
      width: 31.25%; } }

.grid-columns .grid-column-6 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-6 {
      width: 37.5%; } }

.grid-columns .grid-column-7 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-7 {
      width: 43.75%; } }

.grid-columns .grid-column-8 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-8 {
      width: 50%; } }

.grid-columns .grid-column-9 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-9 {
      width: 56.25%; } }

.grid-columns .grid-column-10 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-10 {
      width: 62.5%; } }

.grid-columns .grid-column-11 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-11 {
      width: 68.75%; } }

.grid-columns .grid-column-12 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-12 {
      width: 75%; } }

.grid-columns .grid-column-13 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-13 {
      width: 81.25%; } }

.grid-columns .grid-column-14 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-14 {
      width: 87.5%; } }

.grid-columns .grid-column-15 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-15 {
      width: 93.75%; } }

.grid-columns .grid-column-16 {
  float: left;
  width: 100%; }
  @media only screen and (min-width: 40em) {
    .grid-columns .grid-column-16 {
      width: 100%; } }

img {
  height: auto;
  max-width: 100%;
  border: 1px solid #555;
  padding: 12.8px; }

.img--no-border {
  border: 0;
  padding: 0; }

img[src*=".svg"] {
  max-height: 100%; }

a {
  color: #336767; }
  a:hover, a:focus {
    text-decoration: none; }

a:active {
  text-decoration: none; }

a.btn, .btn {
  background: #ddd;
  padding: 12.8px;
  display: inline-block;
  text-decoration: none; }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code,
pre {
  color: black;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
  hyphens: none; }

@media print {
  code,
  pre {
    text-shadow: none; } }
/* Code blocks */
pre {
  padding: 1em;
  margin: 0 0 25.6px;
  overflow: auto; }
  .kss-markup pre {
    padding: 0;
    margin: 0; }

:not(pre) > code,
pre {
  background: #ddd; }
  .kss-markup :not(pre) > code, .kss-markup
  pre {
    background: none; }

/* Inline code */
:not(pre) > code {
  padding: .1em;
  border-radius: .3em; }

.menu ul, .menu ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0; }
.menu.menu--spaced a {
  padding: 10px; }
.menu.menu--horizontal li {
  display: block; }
@media only screen and (min-width: 450px) {
  .menu.menu--horizontal li {
    display: inline-block; } }
.menu a {
  text-decoration: none;
  display: block; }

.menu--horizontal li {
  display: inline-block; }

.menu--equal-width ul, .menu--equal-width ol {
  display: table;
  width: 100%; }
.menu--equal-width li {
  text-align: center;
  display: table-cell; }

.well {
  padding: 12.8px;
  background: #ddd;
  margin-bottom: 25.6px; }
  @media only screen and (min-width: 700px) {
    .well {
      padding: 25.6px; } }
  .well > *:last-child {
    margin-bottom: 0; }

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

.alert h4 {
  margin-top: 0;
  color: inherit; }

.alert .alert-link {
  font-weight: bold; }

.alert > p,
.alert > ul {
  margin-bottom: 0; }

.alert > p + p {
  margin-top: 5px; }

.alert-dismissable {
  padding-right: 35px; }

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit; }

.alert-success {
  background-color: #6fc067;
  border-color: #668c62;
  color: #3a5038; }

.alert-success hr {
  border-top-color: #668c62; }

.alert-success .alert-link {
  color: #668c62; }

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f; }

.alert-info hr {
  border-top-color: #a6e1ec; }

.alert-info .alert-link {
  color: #245269; }

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b; }

.alert-warning hr {
  border-top-color: #f7e1b5; }

.alert-warning .alert-link {
  color: #66512c; }

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442; }

.alert-danger hr {
  border-top-color: #e4b9c0; }

.alert-danger .alert-link {
  color: #843534; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0; }

legend {
  padding: 0;
  margin-bottom: 25.6px; }

label {
  display: block;
  width: 100%; }

.label--inline {
  display: inline; }

.span--required {
  visibility: hidden; }
  .span--required:before {
    content: "*";
    color: red;
    visibility: visible; }

.label--radio {
  margin-bottom: 0; }
  .label--radio input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 0; }

.label--checkbox {
  margin-bottom: 0; }
  .label--checkbox input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 0; }

input[type="submit"], button {
  display: block;
  background: #033;
  color: #eee;
  border: 0;
  border-radius: 0;
  padding: 10px;
  transition: background .3s; }
  input[type="submit"]:focus, input[type="submit"]:hover, button:focus, button:hover {
    background: #006666; }

select {
  margin-bottom: 25.6px;
  cursor: pointer;
  z-index: 1; }

input[type="text"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  border: 1px solid #555;
  background: #fff;
  padding: 5px;
  max-width: 400px;
  border-radius: 0;
  -webkit-appearance: none;
  width: 100%; }
  input[type="text"]:focus,
  input[type="color"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    border-color: #3b3b3b;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(85, 85, 85, 0.6); }
  input[type="text"].placeholder,
  input[type="color"].placeholder,
  input[type="date"].placeholder,
  input[type="datetime"].placeholder,
  input[type="datetime-local"].placeholder,
  input[type="email"].placeholder,
  input[type="search"].placeholder,
  input[type="tel"].placeholder,
  input[type="time"].placeholder,
  input[type="url"].placeholder,
  textarea.placeholder {
    color: rgba(0, 0, 0, 0.5); }
  input[type="text"]:-moz-placeholder,
  input[type="color"]:-moz-placeholder,
  input[type="date"]:-moz-placeholder,
  input[type="datetime"]:-moz-placeholder,
  input[type="datetime-local"]:-moz-placeholder,
  input[type="email"]:-moz-placeholder,
  input[type="search"]:-moz-placeholder,
  input[type="tel"]:-moz-placeholder,
  input[type="time"]:-moz-placeholder,
  input[type="url"]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  input[type="text"]::-moz-placeholder,
  input[type="color"]::-moz-placeholder,
  input[type="date"]::-moz-placeholder,
  input[type="datetime"]::-moz-placeholder,
  input[type="datetime-local"]::-moz-placeholder,
  input[type="email"]::-moz-placeholder,
  input[type="search"]::-moz-placeholder,
  input[type="tel"]::-moz-placeholder,
  input[type="time"]::-moz-placeholder,
  input[type="url"]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  input[type="text"]:-ms-input-placeholder,
  input[type="color"]:-ms-input-placeholder,
  input[type="date"]:-ms-input-placeholder,
  input[type="datetime"]:-ms-input-placeholder,
  input[type="datetime-local"]:-ms-input-placeholder,
  input[type="email"]:-ms-input-placeholder,
  input[type="search"]:-ms-input-placeholder,
  input[type="tel"]:-ms-input-placeholder,
  input[type="time"]:-ms-input-placeholder,
  input[type="url"]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5); }
  input[type="text"]::-webkit-input-placeholder,
  input[type="color"]::-webkit-input-placeholder,
  input[type="date"]::-webkit-input-placeholder,
  input[type="datetime"]::-webkit-input-placeholder,
  input[type="datetime-local"]::-webkit-input-placeholder,
  input[type="email"]::-webkit-input-placeholder,
  input[type="search"]::-webkit-input-placeholder,
  input[type="tel"]::-webkit-input-placeholder,
  input[type="time"]::-webkit-input-placeholder,
  input[type="url"]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5); }

textarea {
  height: 130px; }

.page-wrap {
  clear: both; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.8px;
  padding-right: 12.8px;
  max-width: 978px;
  position: relative; }
  .container.container--no-padding {
    padding-left: 0;
    padding-right: 0; }

p, ul, ol, blockquote, input, textarea, fieldset, button, pre, table, hr, dl {
  margin: 0 0 25.6px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 25.6px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "PlutoSansLight", sans-serif;
  font-weight: 400; }

h1, .h1 {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.024;
  margin: 0 0 25.6px; }

h2, .h2 {
  font-size: 42px;
  font-size: 2.625rem;
  line-height: 1.21905;
  margin: 0 0 25.6px; }

h3, .h3 {
  font-size: 23px;
  font-size: 1.4375rem;
  line-height: 1.11304;
  margin: 0 0 25.6px; }

h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.28;
  margin: 0 0 25.6px; }

h5, .h5 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.42222;
  margin: 0 0 25.6px; }

h6, .h6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.82857;
  margin: 0 0 25.6px; }

hr {
  border: 0;
  border-bottom: 1px solid #555;
  margin-top: -1px; }

.single-spaced {
  margin-bottom: 0; }

.one-half-spaced {
  margin-bottom: 12.8px; }

.double-spaced {
  margin-bottom: 25.6px; }

.small, small {
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 2.56;
  margin: 0 0 25.6px; }

.display-font {
  font-family: "PlutoSansLight", sans-serif; }

ul, ol {
  padding-left: 25px; }

.list--unstyled {
  list-style: none;
  padding: 0;
  margin-left: 0;
  margin-bottom: 0; }
  .list--unstyled li {
    display: block; }
  .list--unstyled.list--horizontal li {
    display: inline-block; }

.list--spaced li {
  padding: 12.8px; }

.list--justified {
  display: table;
  width: 100%; }
  .list--justified li {
    display: table-cell;
    text-align: center; }

.def-list-inline dt {
  clear: both;
  float: left;
  display: inline-block;
  font-weight: bold; }
  .def-list-inline dt:after {
    content: ":";
    padding-right: 3px; }
.def-list-inline dd {
  float: left;
  display: inline-block;
  margin-left: 0; }

table {
  width: 100%; }

td, th {
  margin: 0;
  padding: 5px; }

th {
  font-family: "PlutoSansLight", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.42222;
  margin: 0 0 25.6px; }

tr:nth-child(2n) {
  background: rgba(85, 85, 85, 0.1); }

tbody tr:last-child {
  border: 0; }

thead tr {
  border-bottom: 1px solid #555; }

tfoot {
  border-top: 1px solid #555; }

@media only screen and (min-width: 550px) {
  .columns {
    float: left;
    width: 100%; }

  .column-3 {
    float: left;
    width: 30%;
    margin-left: 5%; }
    .column-3:first-child {
      margin-left: 0; }

  .column-2 {
    float: left;
    width: 47.5%;
    margin-left: 5%; }
    .column-2:first-child {
      margin-left: 0; } }
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

.hide, .hidden {
  display: none; }

.centered {
  text-align: center; }

.show {
  display: block; }

.crossed {
  text-decoration: line-through; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

.clearfix, .grid-columns, .container, .def-list-inline, .cf {
  *zoom: 1; }
  .clearfix:before, .grid-columns:before, .container:before, .def-list-inline:before, .clearfix:after, .grid-columns:after, .container:after, .def-list-inline:after, .cf:before, .cf:after {
    content: " ";
    display: table; }
  .clearfix:after, .grid-columns:after, .container:after, .def-list-inline:after, .cf:after {
    clear: both; }

.clear {
  clear: both; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.kss-style pre, .kss-style code, .kss-style kbd, .kss-style samp {
  font-family: Menlo, "Ubuntu Mono", "Lucida Console", "Courier New", Courier, monospace;
  color: #2a2a2a;
  font-size: 1em; }
.kss-style pre {
  white-space: pre;
  overflow: scroll; }
.kss-style ins {
  color: #111;
  background: #ff9;
  text-decoration: none; }
.kss-style mark {
  color: #111;
  background: #ff0;
  font-weight: bold; }
.kss-style sub, .kss-style sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
.kss-style sup {
  top: -0.5em; }
.kss-style sub {
  bottom: -0.25em; }

#kss-node {
  margin: 0;
  padding: 20px;
  background: #fff; }
  @media screen and (min-width: 769px) {
    #kss-node {
      padding: 0;
      background: linear-gradient(to right, #eee, #e5e5e5 50%, #d7d7d7 100%) 20% 0 repeat-y, linear-gradient(to right, #eee, #eee 20%, #fff 20%) 0 0; }
      #kss-node .kss-main,
      #kss-node .kss-sidebar {
        float: left;
        margin-right: -100%;
        box-sizing: border-box; } }
  #kss-node .kss-main {
    width: 100%;
    margin: 0 auto;
    margin-top: 25.6px; }
    @media screen and (min-width: 769px) {
      #kss-node .kss-main {
        width: 80%;
        margin-left: 20%;
        padding: 0 20px 0 30px; } }
  #kss-node .kss-sidebar {
    border-bottom: 1px solid #ddd; }
    @media screen and (min-width: 769px) {
      #kss-node .kss-sidebar {
        width: 20%;
        padding: 0 10px 0 20px;
        border-bottom: 0; } }

#kss-node .kss-doc-title {
  margin: 0; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-doc-title {
      font-size: 1.5em; } }
@media screen and (min-width: 769px) {
  #kss-node .kss-header,
  #kss-node .kss-nav {
    margin-top: 25.6px; } }
#kss-node .kss-nav__menu {
  padding: 0;
  list-style-type: none; }
#kss-node .kss-nav__menu-item {
  display: inline-block;
  padding-bottom: 3.2px;
  padding-top: 3.2px; }
  #kss-node .kss-nav__menu-item a {
    text-decoration: none; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-item {
      display: list-item;
      padding-right: 0; } }
#kss-node .kss-nav__menu-child {
  display: none; }
  @media screen and (min-width: 769px) {
    #kss-node .kss-nav__menu-child {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      #kss-node .kss-nav__menu-child li {
        padding-left: 12.8px;
        font-size: 12px;
        font-size: 0.75rem; } }
#kss-node .kss-nav__ref {
  color: #ccc;
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2.13333;
  margin: 0 0 25.6px; }
  #kss-node .kss-nav__ref:after {
    content: ' '; }
#kss-node .kss-nav__menu-child .kss-nav__ref {
  font-weight: normal; }

#kss-node {
  /* Pretty printing styles. Used with prettify.js. */
  /* SPAN elements with the classes below are added by prettyprint. */
  /* plain text */
  /* string content */
  /* a keyword */
  /* a comment */
  /* a type name */
  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  /* a markup tag name */
  /* a markup attribute name */
  /* a markup attribute value */
  /* a declaration; a variable name */
  /* a function name */
  /* Use higher contrast and text-weight for printable form. */
  /* Specify class=linenums on a pre to get line numbering */ }
  #kss-node .kss-section {
    max-width: 48em; }
  #kss-node .kss-title__ref {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: #666; }
    #kss-node .kss-title__ref:before {
      content: 'Section '; }
  #kss-node .kss-title__permalink {
    display: block;
    color: #000;
    text-decoration: none; }
    #kss-node .kss-title__permalink:hover, #kss-node .kss-title__permalink:focus, #kss-node .kss-title__permalink:active {
      color: #0645ad; }
      @media screen and (min-width: 607px) {
        #kss-node .kss-title__permalink:hover .kss-title__permalink-hash, #kss-node .kss-title__permalink:focus .kss-title__permalink-hash, #kss-node .kss-title__permalink:active .kss-title__permalink-hash {
          display: inline; } }
  #kss-node .kss-title__permalink-hash {
    display: none;
    color: #ccc; }
  #kss-node .kss-parameters {
    display: table;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0; }
  #kss-node .kss-parameters__item {
    display: table-row; }
  #kss-node .kss-parameters__name {
    display: table-cell;
    padding-right: 20px; }
  #kss-node .kss-parameters__description {
    display: table-cell; }
  #kss-node .kss-modifier__wrapper {
    border: 1px solid #ccc;
    padding: 10px; }
  #kss-node .kss-modifier__heading {
    margin: -10px -10px 10px -10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    font-weight: bold; }
  #kss-node .kss-modifier__default-name {
    font-weight: bold;
    margin-bottom: 12.8px; }
  #kss-node .kss-modifier__name {
    float: left;
    padding-right: 10px;
    font-weight: bold; }
  #kss-node .kss-modifier__description {
    margin-bottom: 12.8px; }
  #kss-node .kss-modifier__example {
    clear: left;
    padding: 1px 0;
    margin: 0 0 24.6px 0; }
    #kss-node .kss-modifier__example:last-child {
      margin: 0; }
  #kss-node .kss-markup {
    margin: -1px 0 25.6px 0;
    border: 1px solid #999; }
  #kss-node .kss-markup pre {
    margin: 0; }
  #kss-node .kss-github {
    display: none; }
    @media screen and (min-width: 501px) {
      #kss-node .kss-github {
        display: block;
        position: absolute;
        top: 0;
        right: 0; } }
    #kss-node .kss-github img {
      border: 0; }
  #kss-node .pln {
    color: #000; }
  #kss-node .str {
    color: #080; }
  #kss-node .kwd {
    color: #008; }
  #kss-node .com {
    color: #800; }
  #kss-node .typ {
    color: #606; }
  #kss-node .lit {
    color: #066; }
  #kss-node .pun, #kss-node .opn, #kss-node .clo {
    color: #660; }
  #kss-node .tag {
    color: #008; }
  #kss-node .atn {
    color: #606; }
  #kss-node .atv {
    color: #080; }
  #kss-node .dec, #kss-node .var {
    color: #606; }
  #kss-node .fun {
    color: red; }
  @media print, projection {
    #kss-node .str {
      color: #060; }
    #kss-node .kwd {
      color: #006;
      font-weight: bold; }
    #kss-node .com {
      color: #600;
      font-style: italic; }
    #kss-node .typ {
      color: #404;
      font-weight: bold; }
    #kss-node .lit {
      color: #044; }
    #kss-node .pun, #kss-node .opn, #kss-node .clo {
      color: #440; }
    #kss-node .tag {
      color: #006;
      font-weight: bold; }
    #kss-node .atn {
      color: #404; }
    #kss-node .atv {
      color: #060; } }
  #kss-node ol.linenums {
    margin: 0;
    padding: 0 0 3px 0;
    list-style-type: none;
    /* Alternate shading for lines */ }
    #kss-node ol.linenums li {
      min-height: 25.6px;
      border-bottom: 1px solid #eee;
      padding: 0 10px;
      background: #fff; }
      #kss-node ol.linenums li:first-child {
        padding-top: 3px; }
    #kss-node ol.linenums li.L0,
    #kss-node ol.linenums li.L2,
    #kss-node ol.linenums li.L4,
    #kss-node ol.linenums li.L6,
    #kss-node ol.linenums li.L8 {
      background: #fcfcfc; }

/*# sourceMappingURL=kss.css.map */
